node_modules/
.expo/
dist/
web-build/
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
google-services-key.json
google-services.json
GoogleService-Info.plist

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
